

<div class='h-64 w-80 xs:w-96 sm:w-128 md:w-80 lg:w-96 bg-white rounded-md hover:shadow-md group'>
  <%= link_to volunteer_path(volunteer.id, page: request.original_url) do %>
    <%= image_tag volunteer.image, class:'h-2/3 w-full group-hover:opacity-70'%>
    <div class='py-1 px-4'>
      <p class='text-2xl font-bold truncate mb-2 group-hover:text-green-400'><%= volunteer.title %></p>
      <div class='flex items-center'>
        <img src= <%= volunteer.postable.image_icon_path %> class='h-6 w-6 opacity-50 mr-1' >
        <span class='text-lg text-gray-600 truncate mr-1'><%= volunteer.postable.contributor_name %></span>
        <img src='/assets/destination_icon.jpg' class='h-6 w-6 opacity-50 mr-1'>
        <span class='text-lg text-gray-600 truncate mr-1'><%= volunteer.place%></span>
      </div>
    </div>
  <% end %>
</div>