<div class='sm:h-screen w-full bg-gray-100 flex flex-col font-sans'>
  <div class='grid place-items-center mt-10 sm:my-auto '>
    <div class='w-full sm:w-176 lg:w-240 grid grid-row-3 grid-cols-1 sm:grid-cols-3 bg-white my-5 mx-2 sm:mx-0 rounded-lg shadow-md'>
      <%= link_to(return_path_get, class:'sm:col-span-3 grid justify-items-end place-items-center') do %>
        <img src='/assets/close_icon.png', class='h-7 w-7 sm:h-9 sm:w-9 rounded-full hover:bg-gray-200 mt-1 mr-4 sm:mr-3 py-1 px-1 sm:py-2 sm:px-2'>
      <% end %> 
      <div class='h-20 border-dashed border-b-2 border-gray-300 mx-3 grid place-items-center justify-items-start sm:col-span-3 '>
        <p class='font-mono text-base sm:text-3xl'><%= @volunteer.title %></p>
      </div>
      <div class='sm:h-148 lg:h-160 my-6 px-10 sm:px-3'>
        <div class='h-full grid grid-rows-2 sm:grid-rows-4 grid-cols-1'>
          <%= image_tag @volunteer.image, class:'h-56 sm:h-full w-full my-auto mx-auto row-span-2 rounded-lg'%>
          <div class='my-3 lg:my-6 mx-2'>
            <%= link_to(root_path, class:'hover:opacity-40 mb-2 lg:mb-5 flex place-items-center') do %>
              <img src= <%= @volunteer.postable.image_icon_path%> class='h-8 lg:h-10 w-8 lg:w-10 mr-2' >
              <span class='sm:text-xl lg:text-2xl border-b border-gray-400'><%= @volunteer.postable.contributor_name %></span>
            <% end %>
            <div class='opacity-60 flex mb-1'>
              <img src='/assets/participation_icon.png' class='h-5 w-5 lg:h-7 lg:w-7 my-auto mr-1 sm:mr-2'>
              <span class='text-sm sm:text-base lg:text-lg'>参加：<%= @volunteer.participant_number %></span>
            </div>
            <div class='opacity-60 flex mb-1'>
              <img src='/assets/cheering_off_icon.png' class='h-5 w-5 lg:h-7 lg:w-7 my-auto mr-1 sm:mr-2'>
              <span class='text-sm sm:text-base lg:text-lg'>応援：</span>
              <% if @cheer_number == 0 %><span> 0 </span>
              <% else %>
                <%= link_to "#{@cheer_number}", volunteer_cheers_index_path(@volunteer.id), class:'border-b border-black hover:text-gray-500 hover:border-gray-500'%>
              <% end %>
            </div>
            <div class='opacity-60 flex mb-1'>
              <img src='/assets/visit_icon.png' class='h-5 w-5 lg:h-7 lg:w-7 my-auto mr-1 sm:mr-2'>
              <span class='text-sm sm:text-base lg:text-lg'>訪問：<%= @volunteer.impressionist_count %></span>
            </div>
          </div>
          <div class='my-auto'>
          <% if @volunteer.deadline_flag == true %>
            <div class ='p-2 border-4 border-gray-300'>
              <p class='deadline_text'>募集は終了致しました</p>
              <p class='deadline_text'>皆様のご応募ありがとうございました</p>
            </div>
          <%else%>
            <% if user_signed_in? || group_signed_in?%>
              <% if @volunteer_contributor_flag == true && @volunteer.deadline_flag == false %>
                <%= button_to '応募を締め切る', volunteer_path(@volunteer.id), method: :get, class:'deadline_btn' %>
              <% else %>
                <% if @volunteer_apply_finish_flag == true %>
                  <p class='apply_finish_text'>申込み済</p>
                <% else %>
                  <% if user_signed_in? %>
                    <%= button_to '応募する', volunteer_submissions_new_path(@volunteer.id), method: :get, class:'apply_btn' %>
                  <% elsif @group.group_category == 1 %>
                    <%= button_to '応募する', volunteer_submissions_new_path(@volunteer.id), method: :get, params: {name: @group.name, phone_number: @group.phone_number} ,class:'apply_btn' %>
                  <% end %>
                <% end %>
                <% if @volunteer_cheer_finish_flag.blank? %>
                  <%= button_to volunteer_cheers_path(@volunteer.id), class:'cheering_on_btn' do %>
                    <img src='/assets/cheering_off_icon.png' class='h-5 w-5 mr-2'>
                    <span>応援する</span>
                  <% end %>
                <% else %>
                  <%= button_to volunteer_cheers_delete_path(@volunteer.id) , method: :delete, class:'cheering_off_btn' do %>
                    <img src='/assets/cheering_on_icon.png' class='h-5 w-5 mr-2'>
                    <span>応援中</span>
                  <% end %>
                <% end %>
              <% end %>
            <% else %>
              <%= button_to 'ログインして応募する', mains_sign_in_choice_path, method: :get, class:'login_apply_btn' %>
            <% end %>
          <% end %>
          </div>
        </div>
      </div>
      <div class='h-160 sm:h-148 lg:h-160 py-4 sm:py-2 px-6 sm:my-6 lg:px-10 sm:col-span-2'>
        <div class='bg-gray-200 flex items-center justify-between mb-2 sm:mb-5'>
          <p class='font-mono text-2xl lg:text-3xl text-gray-600 '>募集情報</p>
          <% if @volunteer_contributor_flag == true  %>
            <div class='h-8 lg:h-9 w-20 bg-white flex items-center justify-around'>
              <%= link_to( edit_volunteer_path(@volunteer.id), class:'h-8 w-8 lg:w-8 bg-blue-700 flex justify-center items-center hover:opacity-60 rounded') do %>
                <img src='/assets/edit_icon.png'class='h-3 w-3' >
              <% end %>
              <%= link_to( volunteer_path(@volunteer.id), method: :delete, class:'h-8 w-8 lg:w-8 bg-red-700 flex justify-center items-center hover:opacity-60 rounded') do %>
                <img src='/assets/delete_icon.png'class='h-3 w-3' >
              <% end %>
            </div>
          <% end %>

        </div>
        <div class='h-80 sm:h-72 lg:h-80 border-b divide-y grid grid-rows-3 grid-cols-1'>
          <div class='grid grid-rows-2 grid-cols-4'>
            <span class='item_title_half w-full border-b '>活動日時</span>
            <span class='item_details_half w-full border-b grid'>
              <%= @volunteer.schedule.strftime('%Y年%m月%d日') %> 
              <% if @volunteer.start_time.present? %>
                <span><%= @volunteer.start_time.strftime('%H時%M分') %> 〜
                <% if @volunteer.end_time.present?%>
                  <%= @volunteer.end_time.strftime('%H時%M分') %>
                <% end %>
                </span>
              <% end %>
            </span>
            <span class='item_title_half'>応募人数</span>
            <span class='item_details_half'><%= @volunteer.application_people %>人</span>
          </div>
          
          <div class='grid grid-rows-2 grid-cols-4'>
            <span class='item_title'>活動場所</span>
            <span class='item_details'><%= @volunteer.place %></span>
          </div>
          
          <div class='grid grid-rows-2 grid-cols-4'>
            <span class='item_title'>必要経費</span>
            <span class='item_details'>
             <% if @volunteer.expenses.present? %>
              <%= @volunteer.expenses %>
            <% else %>
              記載なし
            <% end %>
            </span>
          </div>
        </div>
        <div class='h-60 sm:h-48 lg:h-52 border-b divide-y grid grid-rows-4 grid-cols-1'>
          <div class='row-span-3 grid grid-rows-2 grid-cols-4'>
            <span class='item_title'>応募条件</span>
            <span class='item_details'>
            <% if @volunteer.conditions.present? %>
              <%= @volunteer.conditions %>
            <% else %>
              記載なし
            <% end %>
            </span>
          </div>

          <div class='grid grid-rows-2 grid-cols-4'>
            <span class='item_title'>締切日</span>
            <span class='item_details'><%= @volunteer.deadline.strftime('%Y年%m月%d日')%></span>
          </div>
        </div>
      </div>
    </div>
  </div>
    <% if @volunteer.details.present? %>
      <div class='bg-gray-100 grid place-items-center'>
        <div class='w-96 sm:w-176 lg:w-240 bg-white mt-3 sm:mt-0 mb-10 md:mb-3 py-4 rounded-lg shadow-md'>
          <p class='font-mono text-2xl lg:text-3xl text-gray-600 bg-gray-200 mx-3'>内容詳細</p>
          <div class='h-40 md:h-36 mt-3 mx-3 overflow-y-auto' >
            <span class='text-lg sm:text-xl break-words overflow-visible'><%= @volunteer.details %></span>
          </div>
        </div>
      </div>
    <% end %>

</div>