<%= render 'shared/header' %>

<div class='h-screen w-full bg-gray-100 flex flex-col font-sans'>
  <div class='grid place-items-center mt-10 sm:my-auto '>
    <div class='w-full sm:w-160 bg-white my-5 mx-2 sm:mx-0 rounded-lg shadow-md'>
      <div class='bg-gray-200 m-2 sm:my-8 sm:mx-16'>
        <p class='font-mono text-2xl text-gray-600 ml-3'>応募情報</p>
      </div>
      <div class='m-2 sm:my-5 sm:mx-24'>
        <div class='grid grid-cols-3 border-b mb-3'>
          <span class='approval_title'>ボランティア名</span>
          <%= link_to volunteer_title_get, volunteer_root_path, class: 'link_root' %>
        </div>

        <div class='grid grid-cols-3 border-b mb-3'>
          <span class='approval_title'>応募者</span>
          <%= link_to @join_volunteer_info.joinable.contributor_name, root_path, class: 'link_root' %>
        </div>

        <div class='grid grid-cols-3 border-b mb-3'>
          <span class='approval_title'>名前</span>
          <span class='approval_details'><%= @join_volunteer_info.name %></span>
        </div>

        <div class='grid grid-cols-3 border-b mb-3'>
          <span class='approval_title'>電話番号</span>
          <span class='approval_details'><%= @join_volunteer_info.phone_number %></span>
        </div>

        <div class='grid grid-cols-3 border-b mb-3'>
          <span class='approval_title'>参加人数</span>
          <span class='approval_details'><%= @join_volunteer_info.number %>人</span>
        </div>

        <div class='grid grid-rows-3 grid-cols-3 border-b mb-3'>
          <span class='approval_title_inquiry'>問い合わせ内容</span>
          <span class='approval_details_inquiry'><%= @join_volunteer_info.inquiry %></span>
        </div>
        
        <%= button_to '了承する', root_path, method: :get, class:'approval_btn' %>
      </div>
    </div>
  </div>
</div>