
<div class='w-full bg-gray-100 flex flex-col font-sans'>
  <div class='grid place-items-center mx-2 my-10 lg:my-16'>
    <div class='w-11/12 md:w-192 p-4 md:p-8 bg-white rounded-lg shadow-md'>
    <h1 class='text-2xl md:text-3xl font-bold text-center text-gray-800'>作業途中</h1>
      <%= link_to(root_path, class:'grid justify-items-end place-items-center') do %>
          <%= image_tag 'close_icon.png', class: 'h-9 w-9 rounded-full hover:bg-gray-200 py-2 px-2'%>
      <% end %> 
      <h2 class='text-2xl md:text-3xl font-bold text-center text-gray-800'>プロフィール編集</h2>
      <%= form_with model: @group, url: group_registration_path, class: 'mt-2 sm:mt-10',local: true do |f| %>

        <%= render 'shared/error_messages', model: f.object %>   
        
        <div class='flex justify-start items-center'>
          <div class='label_name'>名前</div>
          <span class='mandatory_display'>必須</span>
        </div>
        <div class='flex mb-1 sm:mb-4'>
          <%= image_tag 'name_icon.png', class:'h-5 w-5 opacity-70 my-auto mr-2' %>
          <%= f.text_field :name, class:'reg_info_field', placeholder:'こみゅにてぃーず', autofocus: true %>
        </div>
        <div class='flex justify-start items-center'>
          <div class='label_name'>メールアドレス</div>
          <span class='mandatory_display'>必須</span>
        </div>
        <div class='flex mb-1 sm:mb-4'>
          <%= image_tag 'mail_icon.png', class:'h-5 w-5 opacity-70 my-auto mr-2' %>
          <%= f.email_field :email, class:'reg_info_field', placeholder:'owned_addres@email.com', autofocus: true %>
        </div>
        <div class='flex justify-start items-center'>
          <div class='label_name'>電話番号</div>
          <span class='mandatory_display'>必須</span>
        </div>
        <div class='flex mb-1 sm:mb-4'>
          <%= image_tag 'phone_icon.png', class:'h-5 w-5 opacity-70 my-auto mr-2'%>
          <%= f.text_field :phone_number, class:'reg_info_field', placeholder:'0120123456', autofocus: true %>
        </div>
        <div class='flex justify-start items-center'>
          <div class='label_name'>住所</div>
          <span class='mandatory_display'>必須</span>
        </div>
        <div class='flex mb-1 sm:mb-4'>
          <%= image_tag 'address_icon.png', class: 'h-5 w-5 opacity-70 my-auto mr-2' %>
          <%= f.text_field :base_address, class:'reg_info_field', placeholder:'東京都新宿区西新宿2丁目8-1', autofocus: true %>
        </div>
        <div class='flex justify-start items-center'>
          <div class='label_name'>ホームページアドレス</div>
          <span class='any_display'>任意</span>
        </div>
        <div class='flex mb-1 sm:mb-4'>
          <%= image_tag 'url_icon.png', class: 'h-5 w-5 opacity-70 my-auto mr-2' %>
          <%= f.text_field :url, class:'reg_info_field', placeholder:'http://www.communiteer.co.jp/', autofocus: true %>
        </div>
        <div class='flex justify-start items-center'>
          <div class='label_name'>カテゴリー</div>
          <span class='mandatory_display'>必須</span>
        </div>
        <div class='flex mt-2 mb-1 sm:mb-4'>
          <%= image_tag 'category_icon.png', class:'h-5 w-5 opacity-70 my-auto mr-2' %>
          <div class='w-full flex justify-around place-content-center'>
            <div class='flex items-center'>
              <%= f.radio_button :group_category, 0, class:'h-4 w-4' %>
              <span class='category_name'>社会福祉法人</span>
            </div>
            <div class='flex items-center'>
              <%= f.radio_button :group_category, 1, class:'h-4 w-4' %>
              <span class='category_name'>学校法人</span>
            </div>
             <div class='flex items-center'>
              <%= f.radio_button :group_category, 2, class:'h-4 w-4' %>
              <span class='category_name'>市民活動団体</span>
            </div>
             <div class='flex items-center'>
              <%= f.radio_button :group_category, 3, class:'h-4 w-4' %>
              <span class='category_name'>その他</span>
            </div>
          </div>
        </div>
        <div class='flex justify-start items-center'>
          <div class='label_name'>パスワード</div>
          <span class='mandatory_display'>必須</span>
        </div>
        <div class='flex mb-1 sm:mb-4'>
          <%= image_tag 'password_icon.png', class: 'h-5 w-5 my-auto mr-2 opacity-70' %>
          <%= f.password_field :password, class:'reg_info_field', placeholder:'Password00 (6文字以上・半角英数字・大文字含む)', autofocus: true %>
        </div>
        <div class='flex justify-start items-center'>
          <div class='label_name'>パスワード確認</div>
          <span class='mandatory_display'>必須</span>
        </div>
        <div class='flex mb-1 sm:mb-4'>
          <%= image_tag 'password_icon.png', class: 'h-5 w-5 my-auto mr-2 opacity-70' %>
          <%= f.password_field :password_confirmation, class:'reg_info_field', placeholder:'Password00', autofocus: true %>
        </div>
        <%= f.submit '変更', id:'register-submit', class:'registration_btn' %>
        <%= link_to 'もどる', mains_sign_up_choice_path, class:'return_btn' %>
      <% end %>
    </div>
  </div>
</div>