<%= render 'shared/header' %>

<div class='h-screen w-full bg-gray-100 flex flex-col font-sans'>
  <div class='grid place-items-center mt-10 sm:my-auto '>
    <div class='w-full sm:w-160 bg-white my-5 mx-2 sm:mx-0 rounded-lg shadow-md'>
      <div class='bg-gray-200 m-2 sm:my-8 sm:mx-16'>
        <p class='font-mono text-2xl text-gray-600 ml-3'>応募情報</p>
      </div>
      <div class='m-2 sm:my-5 sm:mx-24'>
        <div class='grid grid-cols-3 border-b mb-3'>
          <span class='accept_title'>ボランティア名</span>
          <%= link_to volunteer_title_get, volunteer_root_path_get, class: 'link_root' %>
        </div>

        <div class='grid grid-cols-3 border-b mb-3'>
          <span class='accept_title'>募集者</span>
          <%= link_to volunteer_post_name_get, root_path, class: 'link_root' %>
        </div>

        <div class='grid grid-cols-3 border-b mb-3'>
          <span class='accept_title'>応募者</span>
          <%= link_to @join_volunteer.joinable.contributor_name, root_path, class: 'link_root' %>
        </div>

        <div class='grid grid-cols-3 border-b mb-3'>
          <span class='accept_title'>名前</span>
          <span class='accept_details'><%= @join_volunteer.name %></span>
        </div>

        <div class='grid grid-cols-3 border-b mb-3'>
          <span class='accept_title'>電話番号</span>
          <span class='accept_details'><%= @join_volunteer.phone_number %></span>
        </div>

        <div class='grid grid-cols-3 border-b mb-3'>
          <span class='accept_title'>参加人数</span>
          <span class='accept_details'><%= @join_volunteer.number %>人</span>
        </div>

        <div class='grid grid-rows-3 grid-cols-3 border-b mb-3'>
          <span class='accept_title_inquiry'>問い合わせ内容</span>
          <span class='accept_details_inquiry'><%= @join_volunteer.inquiry %></span>
        </div>

        <% if approver_verification.present? %>
          <% if @join_volunteer.accept_flag == false %>
            <%= button_to '承諾する', volunteer_accepts_path(@join_volunteer.volunteer_id), method: :post, class:'accept_btn' %>
          <% else %>
            <p class='accept_finish_text'>承諾済み</p>
          <% end %>
          <%= button_to 'ダイレクトメッセージを送る', root_path, method: :get, class:'direct_message_btn' %>
        <% end %>
      </div>
    </div>
  </div>
</div>