<% provide(:title, "#{@volunteer.title}への応募情報") %>
<%= render 'shared/header' %>
<%= render partial:'shared/second_header', locals:{ title: "#{@volunteer.title}への応募情報" } %> 

<div class='h-screen w-full bg-gray-100 flex flex-col font-sans'>
  <div class='grid place-items-center pt-10 '>
    <div class='w-full xs:w-112 sm:w-160 bg-white my-5 mx-2 sm:mx-0 rounded-lg shadow-md'>
      <%= link_to(return_get_path, class:'grid justify-items-end') do %>
        <img src='/assets/close_icon.png', class='h-7 w-7 sm:h-9 sm:w-9 rounded-full hover:bg-gray-200 mt-2 mr-4 sm:mr-3 py-1 px-1 sm:py-2 sm:px-2'>
      <% end %> 
      <div class='bg-gray-200 my-4 mx-8 sm:mx-16'>
        <p class='font-mono text-2xl text-gray-600 ml-3'>応募情報</p>
      </div>
      <div class='my-5 mx-10 sm:mx-24'>
        <div class='grid grid-cols-3 border-b mb-3'>
          <span class='accept_title'>ボランティア名</span>
          <%= link_to volunteer_title_get, volunteer_root_path_get, class: 'link_root' %>
        </div>

        <div class='grid grid-cols-3 border-b mb-3'>
          <span class='accept_title'>募集者</span>
          <%= link_to volunteer_post_name_get, page_path(@volunteer.postable_id, type:@volunteer.postable_type), class: 'link_root' %>
        </div>

        <div class='grid grid-cols-3 border-b mb-3'>
          <span class='accept_title'>応募者</span>
          <%= link_to @join_volunteer.joinable.contributor_name, page_path(@join_volunteer.joinable_id, type:@join_volunteer.joinable_type), class: 'link_root' %>
        </div>

        <div class='grid grid-cols-3 border-b mb-3'>
          <span class='accept_title'>名前</span>
          <span class='accept_details'><%= @join_volunteer.name %></span>
        </div>

        <div class='grid grid-cols-3 border-b mb-3'>
          <span class='accept_title'>電話番号</span>
          <span class='accept_details'><%= @join_volunteer.phone_number %></span>
        </div>

        <div class='grid grid-cols-3 border-b mb-3'>
          <span class='accept_title'>参加人数</span>
          <span class='accept_details'><%= @join_volunteer.number %>人</span>
        </div>

        <div class='grid grid-rows-3 grid-cols-3 border-b mb-3'>
          <span class='accept_title_inquiry'>問い合わせ内容</span>
          <span class='accept_details_inquiry'><%= @join_volunteer.inquiry %></span>
        </div>

        <% if approver_verification.present? %>
          <% if @join_volunteer.accept_flag == false %>
            <%= button_to '承諾する', volunteer_accepts_path(@join_volunteer.volunteer_id, id: @join_volunteer.joinable_id, type: @join_volunteer.joinable_type), method: :post, class:'btn accept' %>
          <% else %>
            <p class='accept_finish_text'>承諾済み</p>
          <% end %>
          <%= button_to 'ダイレクトメッセージを送る',  rooms_path(partner_id:@join_volunteer.joinable_id ,partner_type: @join_volunteer.joinable_type), method: :post, class:'btn direct_message' %> 
        <% end %>
      </div>
    </div>
  </div>
</div>