<div class='h-14 w-11/12 sm:w-128 border-b border-gray-200 my-10 mx-3 sm:mx-auto flex items-end'>
  <div class='h-full sm:h-12 flex self-start'>
    <img src= <%= notification.sendable.image_icon_path%> class='h-8 w-8 mr-1 self-center' >
  </div>
  <div class='w-full flex flex-col'>
    <div class='flex flex-wrap items-center'>
      <%= link_to notification.sendable.contributor_name, root_path, class:'link', method: :get %>
      <span class='gap_character'>さんが</span>
      <% if notification.linkable_type == 'JoinVolunteer' || notification.linkable_type == 'Volunteer' %>
        <%= link_to 'ボランティア募集', volunteer_path(notification.post_id), class:'link', method: :get %>
        <% if notification.action == 'join_volunteer' %>
          <span class='gap_character'>に</span>
          <%= link_to '応募', volunteer_accepts_join_info_path(notification.post_id), class:'link', method: :get %>
          <span class='gap_character'>しました</span>
        <% elsif notification.action == 'accept_volunteer' %>
          <span class='gap_character'>の</span>
          <%= link_to '参加', volunteer_accepts_join_info_path(notification.post_id), class:'link', method: :get %>
          <span class='gap_character'>を了承致しました</span>
        <% elsif notification.action == 'cheer' %>
          <span class='gap_character'>の応援をしてくれました</span>
        <% end %>
      <% end %>
      <% if notification.action == 'join_volunteer' %>
        <% if notification.linkable.get_accept_flag == true %> 
          <span class='text-xs text-blue-400 border border-blue-400 rounded-full ml-3 px-1.5'>承諾済</span>
        <% elsif notification.linkable.get_accept_flag == false %> 
          <span class='text-xs text-red-400 border border-red-400 rounded-full ml-3 px-1.5'>未承諾</span>
        <% end %>
      <% end %> 
    </div>
    <span class='w-full text-xs text-right text-gray-400'>(<%= time_ago_in_words(notification.created_at) %>前)</span>
  </div>
</div>