<header>
  <div class='h-14 w-full bg-gray-300 flex justify-between place-items-center'>
    <div class='h-full w-48 md:ml-8 flex place-items-center'>
      <%= link_to image_tag('logo_image.png', class:'hover:opacity-50'), '/' %>
    </div> 
    <% if user_signed_in? || group_signed_in? %>
      <div class='h-full w-112 md:mr-8 lg:mr-14 flex justify-center'>
        <%= link_to(root_path, class:'h-full w-1/4 hover:opacity-40 flex place-items-center') do %>
          <img src= '/assets/home_icon.png' class='h-2/5 mr-1' >
          <span class='text-base truncate'>ホーム</span>
        <% end %>
        <%= link_to(root_path, class:'h-full w-1/3 hover:opacity-40 flex place-items-center') do %>
          <img src= <%=$icon_image_path%> class='h-2/5 mr-1' >
          <span class='text-base truncate'>マイページ</span>
        <% end %>
        <%= link_to(root_path, class:'h-full w-1/5 hover:opacity-40 flex place-items-center') do %>
          <img src= '/assets/mailbox_icon.png' class='h-2/5 mr-1' >
          <span class='text-base truncate'>DM</span>
        <% end %>
        <%= link_to(notifications_path, class:'h-full w-1/4 hover:opacity-40 flex place-items-center') do %>
          <% if unchecked_notifications.any? %>
            <img src= '/assets/unread_icon.png' class='h-1/3 mb-3' >
          <% end %>
          <img src= '/assets/notification_icon.png' class='h-2/5 mr-1' >
          <span class='text-base truncate'>通知</span>
        <% end %>
        <%= link_to($logout_link_path, method: :delete, class:'h-full w-1/3 hover:opacity-40 flex place-items-center') do %>
          <img src='/assets/logout_icon.png' class='h-2/5 mr-1' >
          <span class='text-base truncate'>ログアウト</span>
        <% end %>
      </div>
    <% else%>
      <div class='h-full w-56 md:mr-10 lg:mr-14 flex justify-center'>
        <%= link_to(mains_sign_in_choice_path, class:'h-full w-1/2 hover:opacity-40 flex place-items-center') do%>
          <img src='/assets/login_icon.png' class='h-2/5 mr-1' >
          <span class='text-base'>ログイン</span>
        <% end %>
        <%= link_to(mains_sign_up_choice_path, class:'h-full w-1/2 hover:opacity-40 flex place-items-center') do%>
          <img src='/assets/registration_icon.png' class='h-2/5 mr-1' >
          <span class='text-base'>新規登録</span>
        <% end %>
      </div> 

    <% end %>
  </div>
</header>