<% provide(:title, "#{@account_page_info.name}さんのページ") %>
<%= render 'shared/header' %>
<%= render partial:'shared/second_header', locals:{ title: "#{@account_page_info.name}さんのページ" } %> 

<div class='w-full bg-gray-200 font-sans'>
  <div class='grid place-items-center py-14'>
    <div class='w-full flex flex-col md:flex-row justify-center px-2'>
      <div class='h-80 w-full md:w-80 bg-white hover:shadow-md flex flex-col p-6 mb-4 md:mr-2'>
        <div class='h-2/5 mb-6'>
          <img src= <%=@icon_image_path%> class='h-2/3 mx-auto mb-2' >
          <p class='text-2xl text-gray-500 font-bold text-center'><%= @account_page_info.name %></p>
        </div>
        <div class='h-2/5 border-t-2 grid grid-cols-3 place-content-start'>
          <div class='page_item_area group'>
            <span class='page_item group-hover:border-b'><%= @all_post_number %></span>
            <span class='page_item group-hover:border-b'>投稿</span>
          </div>
          <div class='page_item_area group'>
            <span class='page_item group-hover:border-b'><%= @all_join_number %></span>
            <span class='page_item group-hover:border-b'>参加</span>
          </div>
          <div class='page_item_area group'>
            <span class='page_item group-hover:border-b'><%= @all_cheer_number %></span>
            <span class='page_item group-hover:border-b'>応援</span>
          </div>
        </div>
        <div class='h-1/5'>
          <% if sameperson_confirmation == 0 %>
            <%= button_to 'プロフィールを編集する', @edit_path, method: :get, class:'profile_edit_btn' %>
          <% elsif sameperson_confirmation == 1 %>
            <%= button_to 'ダイレクトメッセージを送る', root_path, method: :get, class:'direct_message_btn' %>
          <% end %>
        </div>
      </div>
      <div class='h-screen w-full lg:w-176 bg-white flex-1 lg:flex-none hover:shadow-md p-6 md:ml-2'>
        <ul class='cursor-pointer flex pb-5'>
          <div class='tab now_active'>投稿</div>
          <li class='tab'>参加</li>
          <li class='tab'>応援</li>
        </ul>
        <ul class='border-b cursor-pointer flex justify-start content-center'>
          <li class='child_tab child_now_active'>すべて</li>
          <li class='child_tab'>ボランティア</li>
          <li class='child_tab'>活動場所</li>
          <li class='child_tab'>イベント</li>
        </ul>
        <div class='my-5'>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>