<div class='swiper-container slider1'>
  <div class='swiper-wrapper'>
    <div class='swiper-slide'><%= image_tag('top_image.png', class:'h-full w-full pb-10') %></div>
    <div class='swiper-slide'>
      <div class='swiper_post_container'>
        <%= image_tag('volunteer_recruit_image.jpg', class:'w-3/5 md:w-2/3') %>
        <div class='swiper_post_area'>
          <div class='h-1/5 mb-2 sm:mb-6 grid place-content-center '>
            <p class='swiper_post_title'>ボランティア</p>
            <p class='swiper_post_title'>募集</p>
          </div>
          <div class='h-3/5'>
            <p class='swiper_post_description'>ボランティアメンバーを探したい!!</p>
            <p class='swiper_post_description'>個人・団体を問わず</p>
            <p class='swiper_post_description'>ボランティア募集ができます</p>
          </div>
          <%= button_to 'ボランティア募集', new_volunteer_path, method: :get, class:'top_post_btn' %>
        </div>
      </div>
    </div>
    <div class='swiper-slide'>
      <div class='swiper_post_container'>
        <div class='swiper_post_area'>
          <div class='h-1/5 mb-2 sm:mb-6 grid place-content-center '>
            <p class='swiper_post_title'>活動場所</p>
            <p class='swiper_post_title'>募集</p>
          </div>
          <div class='h-3/5'>
            <p class='swiper_post_description'>得意ごとで社会貢献したいけどどうしたらいいか分からないあなた!!</p>
            <p class='swiper_post_description'>得意ごとを活かす場を募集できます</p>
          </div>
          <%# <%= button_to '活動場所募集', root_path, method: :get, class:'top_post_btn' %>
        </div>
        <%= image_tag('provide_image2.jpg', class:'w-3/5 md:w-2/3') %>
      </div>
    </div>
    <div class='swiper-slide'>
      <div class='swiper_post_container'>
        <%= image_tag('participate_image.jpg', class:'w-3/5 md:w-2/3') %>
        <div class='swiper_post_area'>
          <div class='h-1/5 mb-2 sm:mb-6 grid place-content-center '>
            <p class='swiper_post_title'>イベント参加者</p>
            <p class='swiper_post_title'>募集</p>
          </div>
          <div class='h-3/5'>
            <p class='swiper_post_description'>多くの人にイベントを知ってもらい、参加してほしい!</p>
            <p class='swiper_post_description'>イベントの参加者を募集できます</p>
          </div>
          <%# <%= button_to 'イベント参加者募集', root_path, method: :get, class:'top_post_btn' %>
        </div>
      </div>
    </div>
  </div>
  <div class='swiper-pagination'></div>
</div>
<%= javascript_pack_tag 'swiper' %>