<%= render 'shared/header' %>
<div class='font-sans flex flex-col'>
  <div class='py-5 px-2 md:px-6 '>
    <%= render partial: 'index_swiper'%> 
  </div>
  <div class='w-full bg-gray-100 my-4 py-5 px-2 md:px-6'>
    <div class='w-full py-2 sm:py-4 px-2 :px-16 mx-auto'>
      <p class='text-3xl lg:text-4xl font-bold text-center border-gray-300 border-b-2 pb-2'>新着情報</p>
      <p class='top_post_title'>ボランティア募集</p>
      <div class='top_post_area'>
        <% if @volunteer_post_number == 0 %>
          <p class='no_posts'>投稿はありません</p>
        <% else %>
          <%= render partial: 'post_swiper', locals: { posts: @volunteers, paths: @volunteers_path} %> 
          <%= link_to 'ボランティア募集一覧はこちら', volunteers_path, class:'top_link_btn' %>
        <% end %>
      </div>
      <p class='top_post_title'>活動場所募集</p>
      <div class='top_post_area'>
        <p class='no_posts'>投稿はありません</p>
      </div>
      <p class='top_post_title'>イベント参加者募集</p>
      <div class='top_post_area'>
        <p class='no_posts'>投稿はありません</p>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>