<% provide(:title, 'DM') %>
<%= render 'shared/header' %>
<%= render partial:'shared/second_header', locals:{ title: 'DM一覧' } %>
 
<div class='h-screen bg-gray-200 font-sans'>
  <div class='grid place-items-center pt-14'>
    <%= render partial:'chat_area' %>
    <%= render partial:'chat_form' %>
  </div>
</div>
<%= render 'shared/footer' %>