<% provide(:title, 'DM') %>
<%= render 'shared/header' %>
<%= render partial:'shared/second_header', locals:{ title: "#{@partner_chats[0].speakable.name}さんとのDM" } %>
 
<div class='h-screen bg-gray-200 font-sans'>
  <div class='grid place-items-center pt-14'>
    <div class='h-148 sm:h-176 w-80 xs:w-112 sm:w-148 md:w-176 lg:w-224 bg-white rounded shadow-lg p-4 overflow-auto'>
      <%= render partial:'chat_area', collection: @all_chats, as: 'chat' %>
    </div>
    <%= render partial:'chat_form' %>
  </div>
</div>
<%= render 'shared/footer' %>