
<div class='h-screen w-full bg-gray-100 flex flex-col font-sans'>
  <div class='grid place-items-center mx-2 my-auto'>
    <div class='w-11/12 md:w-192 p-4 sm:p-8 md:p-10 bg-white rounded-lg shadow-md'>
      <%= link_to(root_path, class:'grid justify-items-end place-items-center') do %>
          <%= image_tag'close_icon.png', class:'close_icon'%>
      <% end %> 
      <h2 class='text-2xl sm:text-3xl font-bold text-center text-gray-800'>ログイン(団体用)</h2>
      <%= form_with model: @group, url: group_session_path, class: 'mt-10',local: true do |f| %>
        <div class='label_name'>メールアドレス</div>
        <div class='flex mb-4'>
          <%= image_tag'mail_icon.png', class:'h-5 w-5 opacity-70 my-auto mr-2'%>
          <%= f.email_field :email, class:'reg_info_field', placeholder:'owned_addres@email.com', autofocus: true %>
        </div>
        <div class='label_name'>パスワード</div>
        <div class='flex mb-4'>
          <%= image_tag'password_icon.png', class:'h-5 w-5 my-auto mr-2'%>
          <%= f.password_field :password, class:'reg_info_field', placeholder:'パスワード', autofocus: true %>
        </div>
        <%= f.submit 'ログイン' , id:'register-submit', class:'registration_btn' %>
        <%= link_to 'もどる', mains_sign_in_choice_path, class:'return_btn' %>
      <% end %>
      <div class='mt-8 text-sm text-center'>
        <%= link_to 'ゲスト団体でログイン' , groups_guest_sign_in_path, class:'text-blue-500 hover:text-blue-400 hover:underline', method: :post %>
        <div class='mt-2 md:mt-4'>
          <span>アカウントをお持ちでない場合</span>
          <%= link_to '新規登録' ,new_group_registration_path, class:'text-blue-500 hover:text-blue-400 hover:underline' %>
        </div>            
      </div>
    </div>
  </div>
</div>
