<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %> 
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>  
    <script src="https://cdn.jsdelivr.net/npm/url-polyfill@1.1.12/url-polyfill.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/url-search-params-polyfill@8.1.0/index.min.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
